<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rrbot_description)/urdf/rrbot.xacro'"/>
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param robot_description -urdf -model rrbot_description "
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>

<!-- args="-file $(find robot_6wheel_package)/urdf/robot_6wheel_package.urdf -urdf -model robot_6wheel_package" -->
<!--param name="robot_description" command="$(find xacro)/xacro LOOK HERE inorder '$(find robot_6wheel_package)/urdf/robot_6wheel_package.xacro'"/-->